@import "miscs";

body {
	height: 100vh;
	@include flex(column);
	gap: 40px;

	.options_container {
		@include flex(column);
		gap: 15px;
		background-color: #f0d7d8;
		border: 1px solid black;
		width: 400px;
		font-family: "Onest", sans-serif;
		padding: 20px 10px;
		box-shadow: 0 2px 3px 0px rgba(94, 68, 68, 0.224);

		.hrLine {
			border: none;
			border-top: 2px dotted black;
			width : 40%;
			margin: 10px 0
		}

		.title_container {
			@include flex(column);
			gap: 5px;

			h1 {
				font-family: "Bacasime Antique", serif;
				font-weight: 600;
				font-size: 2.5rem;
			}

			span {
				@include flex(normal);
				gap: 5px;
				font-size: 1rem;

				img {
					width: 43%;
				}
			}
		}

		.flower_container {
			@include flex(acen);
			gap: 10px;

			div {
				@include flex(acen);
				gap: 5px;

				input[type="radio"] {
					accent-color: #cc6368;
				}
			}
		}

		.input_wrapper {
			@include flex(column);
			width: 100%;
			gap: 10px;

			button {
				padding: 7px;
				outline: none;
				border: 1px solid #000000;
				background-color: #ffffff;

				cursor: pointer;
				font-family: "Onest", sans-serif;
				color: inherit;

				&:hover,
				&:focus,
				&:active {
					background-color: #fdf0ff;
				}
				border-radius: 10px;
				-webkit-border-radius: 10px;
				-moz-border-radius: 10px;
				-ms-border-radius: 10px;
				-o-border-radius: 10px;
			}
		}

		footer {
			a {
				text-decoration: underline wavy #d89195;
				color: #cc6368;
				font-weight: bold;

				&:hover {
					color: #d67fa3;
				}
			}
		}

		border-radius: 10px;
		-webkit-border-radius: 10px;
		-moz-border-radius: 10px;
		-ms-border-radius: 10px;
		-o-border-radius: 10px;
	}

	.card_wrapper {
		// background-color: #f0dfd7;
		background-color: #f0d7d8;
		box-shadow: 0 2px 5px 0px rgba(94, 68, 68, 0.465);

		border-radius: 10px;
		-webkit-border-radius: 10px;
		-moz-border-radius: 10px;
		-ms-border-radius: 10px;
		-o-border-radius: 10px;
		padding: 15px;
		background-repeat: no-repeat;
		background-size: cover;
		backdrop-filter: blur(7px);
		position: relative;
		cursor: url(https://cur.cursors-4u.net/symbols/sym-1/sym54.cur), auto !important;

		.blurEffect {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100.2%;
			background-color: rgba(255, 192, 203, 0);
			border-radius: 10px;
			-webkit-border-radius: 10px;
			-moz-border-radius: 10px;
			-ms-border-radius: 10px;
			-o-border-radius: 10px;
			backdrop-filter: blur(10px);
			z-index: -1;
		}

		.flow-top {
			position: absolute;
			top: -10px;
			right: -10px;
			width: 30%;
		}
		.flow-bottom {
			position: absolute;
			bottom: -10px;
			left: -10px;
			width: 30%;
		}

		.wrapper {
			display: grid;
			justify-items: center;
			grid-template-rows: 40px 315px 43px;
			height: 400px;
			width: 300px;
			background-color: #ffffff6e;
			border: 1px solid black;

			.header {
				width: 100%;
				border-top-right-radius: 10px;
				border-top-left-radius: 10px;
				@include flex(normal);
				padding-top: 14px;

				h1 {
					font-family: "Bacasime Antique", serif;
					text-align: center;
					font-size: 1.7rem;
					margin-top: 10px;
				}
			}

			.main:hover .flip-box-inner {
				transform: rotateY(180deg);
			}

			.imgCon,
			.flip-box-back {
				position: absolute;
				width: 100%;
				height: 100%;
				-webkit-backface-visibility: hidden;
				backface-visibility: hidden;
			}

			.main {
				width: 100%;
				height: 100%;
				perspective: 1000px;

				.flip-box-inner {
					position: relative;
					width: 100%;
					height: 100%;
					text-align: center;
					transition: transform 1s;
					transform-style: preserve-3d;
					@include flex(normal);
					-webkit-transition: transform 1s;
					-moz-transition: transform 1s;
					-ms-transition: transform 1s;
					-o-transition: transform 1s;
				}

				.flip-box-back {
					background-color: rgba(252, 242, 242, 0.599);
					border: 1px solid rgb(40, 39, 39);
					transform: rotateY(180deg);
					height: 85%;
					width: 85%;
					@include flex(column);
					padding: 0 10px;
					gap: 15px;

					h2 {
						font-family: "Bacasime Antique", serif;
					}

					p,
					button {
						font-family: "Onest", sans-serif;
					}

					p {
						font-size: 0.85rem;
					}

					a.saintInfoLink {
						color: black;

						button {
							padding: 3px 10px;
							border: 1px solid black;
							background-color: #ffffff;
							cursor: url(https://cur.cursors-4u.net/symbols/sym-1/sym48.cur), auto !important;
							box-shadow: 0 2px 3px 0px rgba(94, 68, 68, 0.465);

							&:hover {
								background-color: #f0d7d8b9;
							}
							border-radius: 10px;
							-webkit-border-radius: 10px;
							-moz-border-radius: 10px;
							-ms-border-radius: 10px;
							-o-border-radius: 10px;
							transition: 400ms;
							-webkit-transition: 400ms;
							-moz-transition: 400ms;
							-ms-transition: 400ms;
							-o-transition: 400ms;
						}
					}

					border-radius: 10%;
					-webkit-border-radius: 10%;
					-moz-border-radius: 10%;
					-ms-border-radius: 10%;
					-o-border-radius: 10%;
				}

				.imgCon {
					height: 85%;
					width: 85%;
					background-color: rgb(160, 132, 132);
					border: 1px solid rgb(40, 39, 39);
					background-repeat: no-repeat;
					background-size: cover;
					border-radius: 10%;
					-webkit-border-radius: 10%;
					-moz-border-radius: 10%;
					-ms-border-radius: 10%;
					-o-border-radius: 10%;
					box-shadow: 0 2px 5px 0px rgba(94, 68, 68, 0.465);
				}
			}

			.footer {
				width: 100%;
				border-bottom-right-radius: 15px;
				border-bottom-left-radius: 15px;
				@include flex(jcen);
				margin-bottom: 10px;

				h2 {
					font-family: "Bacasime Antique", serif;
				}
			}

			border-radius: 15px;
			-webkit-border-radius: 15px;
			-moz-border-radius: 15px;
			-ms-border-radius: 15px;
			-o-border-radius: 15px;
		}
	}
}

/* Phones */
@media screen and (max-width: 500px) {
	body {
		margin: 60px 0;

		.options_container {
			width: 80%;
		}
	}
}

/* Large Screens - Laptop & Computer */
@media screen and (min-width: 1201px) and (max-width: 1600px) {
	body {
		background-color: blueviolet;

		.card_wrapper {
			margin-top: 10px;
			transform: scale(0.8);
			-webkit-transform: scale(0.8);
			-moz-transform: scale(0.8);
			-ms-transform: scale(0.8);
			-o-transform: scale(0.8);
		}

		.options_container {
			margin-top: -50px;
			transform: scale(0.8);
			-webkit-transform: scale(0.8);
			-moz-transform: scale(0.8);
			-ms-transform: scale(0.8);
			-o-transform: scale(0.8);
		}
	}
}
